<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<head>
    <title>datos de usuario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>datos de usuario</h1>
    <a href="@{/}">Volver</a>
    <br />
    <form th:action="@{/guardar}" method="POST" th:object="${usuario}">
        <input type="hidden" name="id" th:value="${usuario.id}" /> 
        <br />
        <label for="password">password: </label>
        <input type="text" name="password" th:value="${usuario.password}" />
        <br />
        <label for="nombre">nombre: </label>
        <input type="text" name="nombre" th:value="${usuario.nombre}" />
        <br />
        <label for="apellidos">apellidos: </label>
        <input type="text" name="apellidos" th:value="${usuario.apellidos}" />
        <br />
        <label for="rol">rol: </label>
        <input type="text" name="rol" th:value="${usuario.rol}" />
        <br />
        <label for="email">email: </label>
        <input type="text" name="email" th:value="${usuario.email}" />
        <br />
        <label for="telefono">telefono: </label>
        <input type="text" name="telefono" th:value="${usuario.telefono}" />
        <br />
        <label for="estado">estado: </label>
        <input type="text" name="estado" th:value="${usuario.estado}" />
        <input type="reset" value="LIMPIAR" /> &nbsp;&nbsp;&nbsp;
        <input type="submit" name="guardar" value="Guardar">
        <br>
    </form>
</body>
</html>